<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447214225273-ufob5bhl3ke1akt7sbpl0geo886fvo6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447214225273-ufob5bhl3ke1akt7sbpl0geo886fvo6e</string>
	<key>API_KEY</key>
	<string>AIzaSyDAwPy8-_HUGmVwkJ110fUskzS8pIuq2EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>447214225273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guilherme.PerformTwiter.PerformTwiter</string>
	<key>PROJECT_ID</key>
	<string>performaittwiiter</string>
	<key>STORAGE_BUCKET</key>
	<string>performaittwiiter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447214225273:ios:4fc791244fc3c535b691a8</string>
	<key>DATABASE_URL</key>
	<string>https://performaittwiiter.firebaseio.com</string>
</dict>
</plist>